<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
	
</head>
<body>
	<section class="banner d-flex justify-content-center align-items-center">
		<div class="text-center mt-50%">
			<h1 class="font-weight-bold">Smart Contact Manager</h1>
			<p>Start collecting Your Contact in very smarter way.we Provide very efficient and Smarter way of Handling contacts
			</p>
			<button class="btn btn-primary">Get Start</button>
		</div>
	</section>
</body>
</html>